
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200';

@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}
.loader-new {
   position:absolute;
   width:100vw;
   height:100vh;
   left:0;
   top:0px;
   background:white;
   z-index:1000000000000;
   overflow-y:hidden;
   background: url('assets/ajax-loader.gif'),black;
   background-size:10%,10%,contain,100% 100%;
   background-position:50% 40%,0 0;
   background-repeat: no-repeat,no-repeat;
}
.loader{
   position:absolute;
   width:100vw;
   height:100vh;
   left:0;
   top:140px;
   background:white;
   z-index:100000000;
   overflow-y:hidden;
   background: url('assets/ajax-loader.gif'),white;
   background-size:10%,10%,contain,100% 100%;
   background-position:50% 30%,0 0;
   background-repeat: no-repeat,no-repeat;
}
.switch {
  position: relative;
  float:right;
  display: block;
  width: 60px;
  height: 34px;
  overflow:hidden;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .8s;
  transition: .8s;
}

.slider:before {
  font-size:14px;
  font:sans-serif;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  text-align:center;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider:after {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(-60px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  display:none;
}

body {
    background:white !important;
    width:100vw;
    height:100vh;
}
.splash-screen {
  width:100vw;
  height:100vh;
  margin:0px auto;
  padding:0px auto;
  position:relative;
  /*border:1px solid white;*/
  transition: margin-top 500ms ease-in;
  overflow:visible;
}
.roll-up-splash-screen {
  margin-top:-100vh;
}

.venue-container{
  width:100vw;
  height:auto;
  overflow-y:hidden;
}

.header {
    color:rgba(0,0,0,0.8);
    background:white;
    padding-left:0px !important;
    padding-right:0px !important;
    width:100vw;
    height: 90px;
    margin:0px auto;
    /*border:2px solid white;*/
}

.row{
    margin-left:0px !important;
    margin-right: 0px !important;
}


.header-title {
    text-align: left;
    font-family: 'Avenir Next LT Pro Bold' !important;
    width:100%;
    height:90px;
    margin-top: 7px;
    padding-left:27px !important;
    font-size:64px;
    padding-right:0px !important;
    transition:font-size 300ms ease-in;
}

.menu-tab {
  display:none;
}

.header-menu {
    float:right;
    width:630px!important;
    height:30px;
    margin-top: 24px;
    padding:3px 0px 3px 0px !important;
    padding-right:27px !important;
    font-size:24px;
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    text-decoration:none !important;
    color:black !important;
}
 a:visited {
    text-decoration:none !important;
    color:black !important;
}

.menu-tab-list-hidden{float:right;}

.menu-tab-list {
  display:block;
  width: 100%;
  height:140px;
  margin-top: 40px;
  text-align: center;
  /* transform: scale(1,0); */
}

ul {
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px !important;
    height:24px !important;
    /* float:right; */
}
li {
    display:inline-block;
    text-decoration:none;
    margin-left:30px;
    height:40px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    text-decoration:none;
    transition:border-color 1000ms ease-in;
    border-bottom:none;

}



a:hover {
    border-bottom:solid 2px rgba(0,0,0,1);
}

#loader-container {
    height:100vh;
    padding-top:20%;
    background:black;
}

.dot-outer {
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    0%  { opacity:1.0 }
    50% { opacity:0.0 }
    100%{ opacity:1.0 }
}

.dot-inner {
    animation-name: blinker2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay:300ms
}

@keyframes blinker2 {
    0%  { opacity:0.0 }
    50% { opacity:1.0 }
    100%{ opacity:0.0 }
}

.container-margin {
    padding-left:0px !important;
    padding-right:0px !important;
    background:white;
    margin:0px auto;
    width:100vw;
    /* height: 100vh; */
}

.info-bar-outer {
  position:relative;
  width:100vw;
  height:60px;
  padding:0px auto
  margin:0px auto;
  /* margin-bottom:15px; */
}

.info-bar {
    margin-left:1.56vw;
    width:96.83vw;
    background:rgba(255,255,255,1) !important;
    color:black !important;
    font-family:'Source Sans Pro', sans-serif;
    font-size:24px;
    padding-top:12px;
    height:60px;
    transition:top 150ms ease-in,width 300ms ease-in,margin-left 300ms ease-in;
}

.info-bar-fixed {
  position:fixed;
  top: 72px;
  z-index:100000000;
}

.row1 {
  width:1398px;
  position:relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:auto;
  margin-right:auto;
  height: 100vh;
}

.card {
      position:relative;
      float:left;
      width:440px;
      height:326px;
      margin-left:13px;
      margin-right:13px;
      margin-top:13px;
      margin-bottom:13px;
      background:white;
      overflow:hidden;
      cursor:pointer;
      /* border: 1px solid transparent; */
      border-radius: 4px;
}

.card{
  -webkit-box-shadow: 0px 4px 4px 2px rgba(40,44,54,0.3);
  transition:-webkit-box-shadow 500ms linear;
  transition:transform 500ms linear;

}

.card:hover{
  -webkit-box-shadow: 0px 4px 4px 2px rgba(40,44,54,0.5);
  transform:translate(0,-5px);
}

.card img {
  transition: transform 500ms ease-in;

}
.card:hover img {
  transform: scale(1.05);
}

.card-title {
    position:absolute;
    margin-top:0.97vw;
    width:inherit;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1.6vw;
    font-size:1.67vw !important;
    color:white;
    z-index:1000000;
}

.mini-card-box {
    text-align:center;
    position:absolute;
    width:inherit;
    height:80px;
    margin-top:171px;
    z-index:100000;
}

.mini-cards {
    border-radius:2px;
    text-align:center;
    position:relative;
    float:left;
    display:block;
    width:5.8vw;
    height:4.0vw;
    margin-left:1.533vw;
    /*margin-top:0.2vw;*/
    /*padding-top:0.66vw;*/
}

.mini-card-people{
    background:rgba(28,202,90,0.8);
    border:1px solid rgba(28,202,90,1);
}

.mini-card-males{
    background:rgba(74,144,226,0.8);
    border:1px solid rgba(74,144,226,1);
}

.mini-card-female {
    background:rgba(237,51,123,0.8);
    border:1px solid rgba(237,51,123,1);
}

.mini-card-fullness {
    background:rgba(245,245,245,0.8);
    border:1px solid rgba(245,245,245,1);
}

.mini-cards-tag {
    font-family:'Montserrat', sans-serif;
    font-size:12px !important;
    color:white !important;
}

.mini-cards-value {
    font-size:16px !important;
    font-family:'Montserrat', sans-serif;
    color:white !important;
}

.three-text-box {
    position:absolute;
    display:block;
    width:inherit;
    height:75px;
    margin-top:251px;
}

.text-box {
    font-family:'Montserrat', sans-serif;
    position:relative;
    float:left;

    height:inherit;
    padding-top:10px;
    line-height: 25px !important;
}
.text-box-tag {
    font-size:12px;
    text-align: center;
    display: block;
}

.text-box-value {
    font-size:16px;
    text-align: center;
    display: block;
}

.vibe {
  display:block;
  width:inherit;
  padding-left:62.65px;
}

.music-genre {
  display:block;
  width:inherit;
  padding-left:7.10px;
}

.music-type {
  display:block;
  width:inherit;
  padding-left:11.02px;
}


.img-overlay{
  float:left;
  width:inherit;
  height:17.5vw;
  position:absolute;
  overflow:hidden;
  background:rgba(0,0,0,0.4);
  z-index:100000;
  transition:background 300ms linear;
}

.img-overlay:hover{
  background:none;
}

.bg-img {
    float:left;
    width:inherit;
    height:17.5vw;
    /*margin-left:15px;*/
    position:absolute;
    overflow:hidden;
    background:black;
    z:10;
    border-radius:6px;

}
.bg-img > img {
    /*-webkit-filter:blur(1px);*/
    position:absolute;
    width:50vw;
    transition: transform 300ms ease-in,-webkit-box-shadow 2s linear,-webkit-filter 300ms linear;
    z-index:100;
    border-radius:6px;
}

.bg-img > img:hover {
   trasform:scale(1.01);
   -webkit-filter:none;

}

.bg-img-app {
background:rgba(0,0,0,0.4);
width:100%;
z-index:10000000;
}

.bg-img-app img{
  z-index:10000000000;
}

.bg-overlay{
  position:absolute;
  top:110px;
  background:rgba(0,0,0,0.6);
  z-index:10000;
  width:100%;
  height:610px;
}

.sub-title-text {
  font-size:24px;
  font-family:'Montserrat',sans-serif;
  font-weight:500;
  line-height:30px;
  position:absolute;
  top:360px;
  margin-left:60px;
  color:white;
  z-index:10000000;

}
.main-title-text{
  position:absolute;
  top:200px;
  color:white;
  margin-left:60px;
  font-size:64px;
  font-family:'Source Sans Pro',sans-serif;
  line-height:56px;
  z-index:10000000;
}
.img-set {
  margin-left:40px;
}
.img-set>img {
  width:400px;

}

.popup-table > td {
  font-family:'Montserrat',sans-serif;
  font-size: 18px;
  padding:0px 0px 0px 0px !important;
}


.info-bar-fixed2 {
  display:block !important;
  position:fixed;
  margin-top:0px;
  z-index:1000000000;
  top:105px;
  bottom:0px;
}

.body-overflow {
  overflow:hidden;
}

.popup-info {
    position:fixed;
    top:50px;
    width:475px;
    height:703px;
    display:block;
    margin-left:calc(50% - 237px);
    margin-right:auto;
    background:white;
    z-index:100000000;
    box-shadow:0px 0px 60px 20px black;
    overflow:hidden;
}
.popup-background {
  position:fixed;
  width:100%;
  height:100%;
  z-index:10000000000;
  background:rgba(0,0,0,0.6);
  overflow: hidden;
}

.dot-outer .home-loader-outer {
    margin-left: calc (50% - 25px);
    display:inline-block;
    width:50px;
    height:50px;
    border:5px solid white;
    border-radius:25px;
}

.dot-inner .home-loader-inner{
    display:inline-block;
    width:20px;
    height:20px;
    border:10px solid white;
    border-radius:10px;
    margin:10px 0px 0px 10px;
}





@media only screen and (min-width:1398px),(min-device-width:1398px) {

  .info-bar-outer {
    position:relative;
    width:100vw;
    height:60px;
    padding:0px auto
    margin:0px auto;
  }

  .info-bar {
      margin-left:calc(50vw - 686px);
      width:1372px;
      background:rgba(255,255,255,1) !important;
      color:black !important;
      font-family:'Source Sans Pro', sans-serif;
      font-size:24px;
      /* padding-top:12px; */
      height:60px;
      /*border:1px solid white;*/
      /*border-radius:5px;*/
      /* margin-bottom:15px; */
  }
  .card-title {
      position:absolute;
      margin-top:12px;
      width:inherit;
      font-family: 'Montserrat', sans-serif;
      padding-left: 14px;
      font-size:24px !important;
      color:white;
      z-index:1000000;
  }
  .mini-cards {
      width:88px;
      height:65px;
      margin-left:17px;
      margin-top:7px;
      margin-right:0vw;
      padding-top:5px;
      line-height:25px !important;

  }
  .bg-img {
      float:left;
      width:inherit;
      height:251px;
      /*margin-left:15px;*/
      position:absolute;

  }

  .bg-img > img{
      filter:blur(1px);
      height:100%;
      width: 100%;
      background-size: cover;
      object-fit: cover;
  }

}

@media only screen and (min-width: 1128px) and (max-width: 1397px),(min-device-width: 1128px) and (max-device-width: 1397px) {

  .info-bar {
      margin-left:2.371vw;
      width:95.258vw;
  }

  .row1 {
    width:97.1vw;
  }

  .card {
      width:30.55vw;
      height:22.63vw;
      margin-left:0.902vw;
      margin-bottom:0.902vw;
      margin-top:0.902vw;
      margin-right:0.902vw;
    }

  .card-title {
    margin-top:0.97vw;
    margin-left:1.6vw;
    font-size:1.67vw !important;
  }

  .mini-card-box {
    height:5.55vw;
    margin-top:11.875vw;
  }

  .mini-cards {
    vertical-align: middle;
    width:6.11vw;
    height:4.51vw;
    margin-left:1.180vw;
    margin-top:0.486vw;
    padding-top:0.34vw;
    line-height:1.5vw;
  }

  .three-text-box {
    width:inherit;
    height:5.20vw;
    margin-top:17.43vw;
  }

  .text-box {
    width:10.06vw;
    padding-top:0.69vw;
  }

  .text-box-tag {
      font-size:0.833vw;
  }

  .text-box-value {
      font-size:1.11vw;
      text-align: center;
  }

  .bg-img {
    height:17.43vw;
  }

  .bg-img > img{
    -webkit-filter:blur(1px);
    height:100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }

  .vibe {
    display:block;
    width:inherit;
    padding-left:4.35vw;
  }

  .music-genre {
    display:block;
    width:inherit;
    padding-left:0.493vw;
  }

  .music-type {
    display:block;
    width:inherit;
    padding-left:0.765vw;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    overflow:hidden;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .8s;
    transition: .8s;
  }

  .slider:before {
    font-size:14px;
    font:sans-serif;
    position: absolute;
    content: "live";
    height: 26px;
    width: 60px;
    left: 0px;
    bottom: 4px;
    text-align:center;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:after {
    font-size:14px;
    font:sans-serif;
    position: absolute;
    content: "hist";
    height: 26px;
    width: 60px;
    left: 60px;
    bottom: 4px;
    text-align:center;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(-60px);
  }
  input:checked + .slider:after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(-60px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

@media only screen and (min-width:767px) and (max-width: 1127px),(min-device-width: 768px) and (max-device-width: 1127px){

    .info-bar {
        margin-left:calc(50vw - 370px);
        width:720px;
    }
    .info-bar-fixed {
      position:fixed;
      top: 110px;
      z-index:100000000;
    }
    .row1 {
      width:768px;
    }

    .card {
        width:350px;
        margin-left:11px;
        margin-bottom:11px;
        margin-top:11px;
        margin-right:11px;
        height:260px;
  }
  .card-title {
      margin-top:14px;
      margin-left:24px;
      font-size:18px !important;
  }

  .bg-img {
      height:200px;
  }

    .bg-img > img{
        filter:blur(1px);
        height:100%;
        width: 100%;
        background-size: cover;
        object-fit: cover;
    }

  .mini-card-box {
      height:64px;
      margin-top:141px;
  }
  .mini-cards {
      border-radius:2px;
      width:69.96px;
      height:51.675px;
      margin-left:13.5px;
      margin-top:5.565px;
      padding-top:4px;
      line-height: 22px;
  }

  .mini-cards-tag {
      font-size:10px !important;
  }

  .mini-cards-value {
      font-size:12px !important;
  }

  .three-text-box {
      font-family: 'Montserrat',sans-serif;
      height:60px;
      margin-top:200px;
  }

  .text-box {
      float:center;
      padding-top:6.3px;
      width:116px;
      /* padding:8px; */
      line-height: 22px;
  }
  .text-box-tag {
      font-size:10px;
  }
  .text-box-value {
      font-size:12px;
      text-align: center;
  }

  .vibe {
    display:block;
    width:inherit;
    padding-left:49.7px;
  }

  .music-genre {
    display:block;
    width:inherit;
    padding-left:5.64px;
  }

  .music-type {
    display:block;
    width:inherit;
    padding-left:8.76px;
  }

}

@media only screen and (max-width:767px),(max-device-width:767px){
  .header{
      height:150px;
  }
  .header-title {
      text-align: center;
      width:100%;
      height:90px;
      margin-top:20px;
      padding-left: 0px !important;
      font-size:64px;
      padding-right:0px !important;
      margin-left:auto;
      margin-right:auto;
      position:relative;
  }
  .info-bar {
      margin-left:calc(50vw - 220px);
      width:440px;
  }
  .info-bar-fixed{
      top:150px;
  }
  .container-margin {
        /* padding-top: 13px; */
    }

  .row1 {
      width:466px;
    }
  .header-menu {
    float: left;
    width: 100vw !important;
    margin-top:0px;
    padding-right:0px !important;

}
.menu-tab-list-hidden {
  float: none;
  width:480px !important;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position: relative;

}

ul{
  display:block;
  position:relative;
  padding-left:auto !important;
  padding-right:auto !important;
  width:inherit;

}
li {  width: auto;
      text-align:left;
      margin-left:0px;
      padding-left:5px;
      padding-right:5px;
}
  .card-title {
      margin-top:14px;
      margin-left:24px;
      font-size:24px !important;
  }
  .mini-card-box {
      height:80px;
      margin-top:177px;
      z-index:1000000;
  }
  .mini-cards {
      width:84px;
      height:58px;
      margin-left:21px;
      margin-top:3px;
      margin-right:0vw;
  }
  .mini-cards-tag {
      font-size:10px;
  }

  .mini-cards-value {
      font-size:15px;
  }

  .three-text-box {
      font-family:'Montserrat', sans-serif;
  }
  .text-box {
      padding-top:8px;

      width:145px;
  }
  .bg-img {
      height:252px;
  }
    .bg-img > img{
        filter:blur(1px);
        height:100%;
        width: 100%;
        background-size: cover;
        object-fit: cover;
    }
    .vibe {
      display:block;
      width:inherit;
      padding-left:62.65px;
    }

    .music-genre {
      display:block;
      width:inherit;
      padding-left:7.10px;
    }

    .music-type {
      display:block;
      width:inherit;
      padding-left:11.02px;
    }



}




@media only screen and (max-width:465px),(max-device-width:465px){
  .header {
      color:white;
      background:black !important;
      padding-left:0px !important;
      padding-right:0px !important;
      width:100vw;
      height: 120px;
      margin:0px auto;
      transition:height 1s ease-in-out;
      /*border:2px solid white;*/
  }

  .fixed-on-top {
    background:black;
    position:fixed;
    z-index:100000000;
    width:100vw;
    height: 120px;
    transition: height 1s ease-in-out;
  }

  .header-title {
      text-align:center;
      font-family: 'Avenir Next LT Pro Bold' !important;
      width:100vw;
      height:45px;
      margin-top:10px;
      margin-left: -15px !important;
      font-size: 48px;
      padding-left:0px !important;
      padding-right:0px !important;
  }
  .header-menu {
      float:center;
      width:100vw;
      height: 50px;
      margin-top:18px;
      padding:3px 0px 3px 0px !important;
      margin-right:0px!important;
      margin-left:0px !important;
      font-size:18px;
      font-family: 'Source Sans Pro', sans-serif;
  }

  .info-bar {
      margin-left:2.8vw;
      width:94.4vw;
      background:rgba(255,255,255,1) !important;
      color:black !important;
      font-family:'Source Sans Pro', sans-serif;
      font-size:24px;
      padding-top:12px;
      height:60px;
      margin-bottom:15px;
  }

  .info-bar-fixed {
    position:fixed;
    top: 120px;
    z-index:100000000;
    transition:top 1s ease-in-out;
  }


  ul {
      width:100vw;
      margin: 0px auto;
      padding:0px 0px 0px 0px !important;
      /*height:24px !important;*/
      float:left !important;
      color:white;
  }

  li {
      width:100vw;
      text-align:center;
      text-decoration:none;
      margin-left:0px;
      padding-top:0px !important;
      padding-bottom:0px !important;
      text-decoration:none;
  }

  .menu-tab {
    position: absolute;
    /* float: left; */
    display:block;
    height: 24px;
    width: 24px;
    font-size: 24px !important;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom:10px; */
    text-align:center;
    color:white;
    left: 0px;
    right: 0px;
  }

  .menu-tab a{
    display: block;
    width: inherit;
    height: inherit;
    text-decoration:none;
    color:white;
  }
  .menu-tab-list-hidden {
    display:block;
    height: 0px;
    margin-top: 40px;
    transition: height 1s ease-in-out;
    overflow: hidden;
  }
  .menu-tab-list {
    display:block;
    width: 100%;
    height:140px;
    margin-top: 40px;
    text-align: center;
    /* transform: scale(1,0); */
  }

  .row1 {
    min-width:100vw;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
  }
  .card {
      width:94.42vw;
      margin-left:2.79vw;
      margin-bottom:2.79vw;
      margin-top:2.79vw;
      margin-right:2.79vw;
      height:69.95vw;
      background:white;
      position:relative;
      float:left;
      overflow:hidden;
      cursor:pointer;
    }
    .card-title {
      position:absolute;
      margin-top:3vw;
      width:inherit;
      font-family: 'Montserrat', sans-serif;
      margin-left:5.16vw;
      font-size:5.16vw !important;
      color:white;
      z-index:1000000;
    }
    .mini-card-box {
      text-align:center;
      position:absolute;
      width:inherit;
      height:17vw;
      margin-top:38.01vw;
      z-index:10000000;
    }
    .mini-cards {
      vertical-align: middle;
      text-align:center;
      position:relative;
      float:left;
      display:block;
      width:17.92vw;
      height:12.36vw;
      margin-left:4.73vw;
      /*margin-top:0.625vw;*/
      margin-right:0vw;
      /*padding-top:1.98vw;*/

    }
    .mini-cards-tag {
      font-family:'Montserrat', sans-serif;
      font-size:1.46vw;
      color:white !important;
    }
    .mini-cards-value {
      font-size:2.46vw;
      font-family:'Montserrat', sans-serif;
      color:white !important;
    }
    .three-text-box {
      position:absolute;
      display:block;
      width:inherit;
      height:53.046vw;
      margin-top:54.04vw;
    }
    .text-box {
      position:relative;
      float:left;
      width:31vw;
      height:inherit;
      padding-top:1.7vw;
    }
    .text-box-tag {
      font-size:2.46vw;
    }

    .text-box-value {
      font-size:3.46vw;
      text-align: center;
    }

    .vibe {
      display:block;
      width:inherit;
      padding-left:13.4vw;
    }

    .music-genre {
      display:block;
      width:inherit;
      padding-left:1.52vw;
    }

    .music-type {
      display:block;
      width:inherit;
      padding-left:2.36;
    }

    .bg-img {
      float:left;
      width:inherit;
      height:53.86vw;
      /*margin-left:15px;*/
      position:absolute;

    }
    .bg-img > img{
          filter:blur(1px);
          height:100%;
          width: 100%;
          background-size: cover;
          object-fit: cover;
    }
