
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200';

@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}
::-webkit-scrollbar {
  display:none;
}

body {
    background:white !important;
    width:100vw;
    height:100vh;
}


.header {
    background:transparent;
    height:90px;
}

.header-title {
    width:inherit;
    height:inherit;
    color:inherit;
    font-size:64px;
    font-family: 'Avenir Next LT Pro Bold' !important;
    height:90px;
    text-align:center;
    /* margin-top: 7px; */
    transition:font-size 300ms ease-in;
}
/*Header HTML ends here*/


.splash-screen-outer{
  position:absolute;
  display:block;
  width:100%;
  height:100%;

}
.splash-screen {
  background:black;
  width:100vw;
  height:101vh;
  margin:0px auto;
  padding:0px auto;
  position:relative;
  position:relative;
  transition:transform 1500ms ease-in;
  overflow:visible;
  z-index:1000000000000000;
}
.roll-up-splash-screen {
  transform:translateY(-101vh);
}
/*Splash-Screen HTML ends here*/

#ctrl{
  width:100vw;
  height:100vh;
  transition: transform 1500ms ease-out;
  overflow-y: hidden;
}

.card{
  -webkit-box-shadow: 0px 2px 2px 0px rgba(40,44,54,0.3);
  transition:-webkit-box-shadow 300ms linear,transform 300ms linear,background-size 500ms linear;
}

.card:hover{
  -webkit-box-shadow: 0px 4px 4px 2px rgba(40,44,54,0.5);
  transform:translate(0,-5px);
  background-size:110% 80%;
}

.mini-card-people{
    background:rgba(28,202,90,0.8);
    border:1px solid rgba(28,202,90,1);
}

.mini-card-males{
    background:rgba(74,144,226,0.8);
    border:1px solid rgba(74,144,226,1);
}

.mini-card-female {
    background:rgba(237,51,123,0.8);
    border:1px solid rgba(237,51,123,1);
}

.mini-card-fullness {
    background:rgba(245,245,245,0.8);
    border:1px solid rgba(245,245,245,1);
}

.mini-cards-tag {
    font-family:'Montserrat', sans-serif;
    color:white !important;
}



@media only screen and (max-width:767px){

  .card{
    position:relative;
    background:white;
    width:95.22vw;
    height:70.58vw;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto !important;
    margin-left:auto !important;
    border-radius: 4px;
  }

  .card-title {
      font-family: 'Montserrat',sans-serif;
      position:absolute;
      margin-top:14px;
      margin-left: 14px;
      width:inherit;
      font-size: 5vw;
      color:white;
  }

  .mini-card-box {
    text-align:center;
    position: absolute;
    width:inherit;
    height: 14.06vw;
    margin-top:37.00vw;
    z-index:10000000;
  }

  .mini-cards{
    position: relative;
    float: left;
    display: block;
    text-align: center;
    width:18.39vw;
    margin-left:4.54vw;
    height:14.06vw;
    border-radius: 2px;
    padding-top: 2.75vw;
  }

  .mini-cards-tag {
      font-family:'Montserrat', sans-serif;
      font-size:2.59vw !important;
      color:white !important;
  }

  .mini-cards-value {
      font-size:3.462vw !important;
      font-family:'Montserrat', sans-serif;
      color:white !important;
  }

  .three-text-box {
    position: absolute;
    display: block;
    width: inherit;
    height: 16.23vw;
    margin-top: 54.31vw;
  }
  .text-box {
      font-family:'Montserrat', sans-serif;
      position:relative;
      float:left;
      height:inherit;
      padding-top: 1.8vw;
      line-height: 5.8vw !important;
  }
  .text-box-tag {
      font-size: 2.745vw;
      text-align: center;
      display: block;
  }

  .text-box-value {
      font-size: 3.5vw;
      text-align: center;
      display: block;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){

  .card{
    position:relative;
    background:white;
    width:46.614vw;
    height:34.554vw;
    margin-top:0px;
    margin-bottom:1.99vw;
    /* margin-right: 1.993vw; */
    margin-left: 1.993vw;
    border-radius: 4px;
    float: left;
  }
  .card-title {
      font-family: 'Montserrat',sans-serif;
      position:absolute;
      margin-top:14px;
      margin-left: 14px;
      width:inherit;
      font-size: 20px;
      /* padding-left: 23px; */
      color:white;
  }
  .mini-card-box {
    text-align:center;
    position: absolute;
    width:inherit;
    height: 8.56vw;
    margin-top:18.116vw;
    z-index:10000000;
  }
  .mini-cards{
    position: relative;
    float: left;
    display: block;
    text-align: center;
    width: 9.39vw;
    margin-left: 1.84vw;
    height: 7.06vw;
    border-radius: 2px;
    padding-top: 0.65vw;
  }

  .mini-cards-tag {
      font-family:'Montserrat', sans-serif;
      font-size: 1.29vw !important;
      color:white !important;
  }

  .mini-cards-value {
      font-size: 1.662vw !important;
      font-family:'Montserrat', sans-serif;
      color:white !important;
  }
  .three-text-box {
    position: absolute;
    display: block;
    width: inherit;
    height: 8.13vw;
    margin-top: 26.51vw;
  }
  .text-box {
      font-family:'Montserrat', sans-serif;
      position:relative;
      float:left;
      height:inherit;
      padding-top: 0.7vw;
      line-height: 3vw !important;
  }
  .text-box-tag {
      font-size:12px;
      text-align: center;
      display: block;
  }

  .text-box-value {
      font-size:16px;
      text-align: center;
      display: block;
  }

}

@media only screen and (min-width: 992px) {

  .card{
    position:relative;
    background:white;
    width: 30.747vw;
    height: 22.792vw;
    margin-top:0vw;
    margin-bottom: 1.939vw;
    /*margin-right: 1.293vw;*/
    margin-left: 1.939vw;
    border-radius: 4px;
    float: left;
  }
  .card-title {
      font-family: 'Montserrat',sans-serif;
      position:absolute;
      margin-top:14px;
      margin-left: 14px;
      width:inherit;
      font-size: 1.56vw;
      /* padding-left: 23px; */
      color:white;
  }
  .mini-card-box {
    text-align:center;
    position: absolute;
    width:inherit;
    height: 5.56vw;
    margin-top: 11.949vw;
    z-index:10000000;
  }
  .mini-cards{
    position: relative;
    float: left;
    display: block;
    text-align: center;
    width: 6.69vw;
    margin-left: 0.84vw;
    height: 4.96vw;
    border-radius: 2px;
    padding-top: 0.65vw;
  }

  .mini-cards-tag {
      font-family:'Montserrat', sans-serif;
      font-size: 0.99vw !important;
      color:white !important;
  }

  .mini-cards-value {
      font-size: 1.462vw !important;
      font-family:'Montserrat', sans-serif;
      color:white !important;
  }
  .three-text-box {
    position: absolute;
    display: block;
    width: inherit;
    height: 5.33vw;
    margin-top: 17.51vw;
  }
  .text-box {
      font-family:'Montserrat', sans-serif;
      position:relative;
      float:left;
      height:inherit;
      padding-top: 0.29vw;
      line-height: 2.16vw !important;
  }
  .text-box-tag {
      font-size: 1.04vw;
      text-align: center;
      display: block;
  }

  .text-box-value {
      font-size: 1.3vw;
      text-align: center;
      display: block;
  }

}

/*@media only screen and (min-width: 1200px) {

  .card{
    position:relative;
    background:white;
    width: 23.647vw;
    height: 17.52vw;
    margin-top: 0.902vw;
    margin-bottom: 0.902px;
    margin-right: 0.602vw;
    margin-left: 0.602vw;
    border-radius: 4px;
    float: left;
  }
  .card-title {
      font-family: 'Montserrat',sans-serif;
      position:absolute;
      margin-top:14px;
      margin-left: 14px;
      width:inherit;
      font-size: 18px;
      /* padding-left: 23px; */
      /*color:white;
  }*/
/*  .mini-card-box {
    text-align:center;
    position: absolute;
    width:inherit;
    height: 4.299vw;
    margin-top: 9.190vw;
    z-index:10000000;
  }
  .mini-cards{
    position: relative;
    float: left;
    display: block;
    text-align: center;
    width: 5.19vw;
    margin-left: 0.54vw;
    height: 3.86vw;
    border-radius: 2px;
    padding-top: 0.05vw;
  }

  .mini-cards-tag {
      font-family:'Montserrat', sans-serif;
      font-size: 0.69vw !important;
      color:white !important;
  }

  .mini-cards-value {
      font-size: 1.062vw !important;
      font-family:'Montserrat', sans-serif;
      color:white !important;
  }
  .three-text-box {
    position: absolute;
    display: block;
    width: inherit;
    height: 4.13vw;
    margin-top: 13.41vw;
  }
  .text-box {
      font-family:'Montserrat', sans-serif;
      position:relative;
      float:left;
      height:inherit;
      padding-top: 0.19vw;
      line-height: 1.76vw !important;
  }
  .text-box-tag {
      font-size: 9.7px;
      text-align: center;
      display: block;
  }

  .text-box-value {
      font-size: 11.8px;
      text-align: center;
      display: block;
  }

}*/






.font-montserrat {
  font-family:'Montserrat',sans-serif;
  font-size:24px;
}
