<div class="col-xs-12-new col-sm-3 col-md-1 col-lg-3">
      <div class="header-title">#NOL</div>
      <div class="menu-tab">
        <a ng-href="" ng-click="showMenuItems()"><span class="menu-tab-btn glyphicon glyphicon-th-large"></span></a>
      </div>
</div>
<!-- <div class="col-xs-float-direction col-xs-12-new col-sm-offset-0 col-sm-9 col-md-offset-0 col-md-11 col-lg-offset-2 col-lg-7 menu-font menu-float-direction width-transition" ng-class="{'menu-tab-list':showMenuTabList}">
  <ul class="menu-float-direction">
      <li><a ng-href="#/venues">      Live Data   </a></li>
      <li><a ng-href="#/app">         App         </a></li>
      <li><a ng-href="#/about-us">    About Us    </a></li>
      <li><a ng-href="#/ambassador">  Ambassador  </a></li>
      <li><a ng-href="#/contact-us">  Contact     </a> </li>
  </ul>

</div> -->
