<div ng-controller="nolWebController" style="height:80vw">
    <div ng-include="'templates/partials/header.html'" style="background:rgba(38,173,228,1)!important;color:white !important">

    </div>
    <div class="containter-fluid" style="height:100%;color:white; background:rgba(38,173,228,1)!important">
        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs 12" style="color:white !important; font-family:'Montserrat', sans-serif !important; font-size:36px !important; text-align:center">About Us</div></div>
        <div class="row">
            <div class="col-lg-3"></div>

        </div>
    </div>

</div>
