<div ng-controller="nolAmbassadorController" style="height:100vh">
    <div style="background:rgba(209,231,81,1)!important;position:fixed;display:block;z-index:10000000;width:50%;background:white;height:80vh;margin-top:10vh;margin-left:25%;box-shadow:0px 0px 20px 8px white" ng-show="modalShow">
        <div class="container-fluid">
            <div class="row">
                <div style="margin-top:10px;margin-right:10px;">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true" style="font-size:26px;" ng-click="modalShow = false">&times;</span></button>
                </div>
                <form class="form-horizontal" style="margin-left:15%; margin-top:20%; color:white!important;"action="//github.us14.list-manage.com/subscribe/post?u=e5a2eb5745dab5fd9008b3309&amp;id=332eb6d244" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="contact_no">First Name</label>
                        <input type="text" class="form-control" name="FNAME"id="first_name" placeholder="John/Jane" ng-model="intern.firstName">
                        </div>
                        <div class="col-sm-5">
                            <label for="contact_no">Last Name</label>
                        <input type="text" class="form-control" name="LNAME" id="last_name" placeholder="Doe" ng-model="intern.lasttName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label for="email">Email</label>
                        <input type="email" class="form-control" name="EMAIL" id="email" placeholder="john@example.com" ng-model="intern.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                        <label for="contact_no">Phone No.</label>
                        <input type="number" class="form-control" name="PHONENO" id="contact_no" placeholder="+91 99999 00000" ng-model="intern.contactNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label for="answer">Why do you think you are perfect for this job?</label>

                        <input type="text" style="height:60px;" name="BODY" class="form-control" id="answer" placeholder="Answer" ng-model="intern.answer">
                        </div>
                    </div>
                     <!-- <div class="form-group">
                        <div class="col-sm-10">
                         <label for="CV"> Resume</label><br>
                         <label class="btn btn-default btn-file">
                        <input type="file" style="display:none"  id="CV" placeholder="Resume">Upload</input>
                        </label>
                        </div>
                    </div> -->


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="margin-left:30%">
                          <button type="submit" class="btn btn-primary btn-lg" name="subscribe">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="background:rgba(209,231,81,1)!important; color:white !important;" ng-include="'templates/partials/header.html'">
    </div>
    <div class="containter-fluid" style="color:white; background:rgba(209,231,81,1)!important;height:100%">
          <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs 12" style="color:white !important; font-family:'Montserrat', sans-serif !important; font-size:36px !important; text-align:center">Ambassador</div></div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10" style="font-size:24px !important; font-family:'Source Sans Pro',sans-serif;margin-top:20px;">

                <p style="margin-bottom:30px">
                 For the fun-loving and party hopping college kids, the program offers an opportunity to extend day-to-day operations of NOL.
                 Currently, we are looking for individuals who are willing to be part of on-ground operations team.
                </p>
                <p style="margin-bottom:30px">
                <h4 style="color:white !important" class="text-primary">Role</h4>
                Generate key business intelligence parameters for specific partners. Build innovative processes to improvise ground operations. Understand and extract key demographic parameters for partners.
                </p>
                <p style="margin-bottom:30px">
                <h4  style="color:white !important" class="text-primary">Responsibilities</h4>
                Since the current profile offers lot of chances to have fun while at HKV. Individuals are required to fullfill work requirement with integrity and ethics.
                Ensure the data/information required to be collected from the venues are done timely manner.
                Falsification of data are not to be tolerated.
                </p>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                    <button type="button" class="btn btn-primary btn-block" style="font-family:'Montserrat',sans-serif !important;" aria-hidden="true" ng-click="modalShow=true" ng-hide="modalShow"> Apply </button>



                </div>

                </div>

            </div>
    </div>
