<div ng-controller="nolWebController" style="height:80vw">
        <div class="container-fluid header" style="background:rgba(209,231,81,1)!important">
            <div class="row">
             <div class="col-lg-3"><div class="header-title">#NOL</div></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="header-menu"> 
                 
                        <ul>
                            <li><a ng-href="#/venues">Live Data</a></li>
                                <li><a ng-href="#/app">App</a></li>
                                <li><a ng-href="#/ambassador">Ambassador</a></li>
                                <li><a ng-href="#/about-us">About Us</a></li>
                                <li><a ng-href="#/contact-us"> Contact</a> </li>
                         
                        </ul>
                   
                   </div> 
                </div>
            </div>
    </div>
    <div class="containter-fluid" style="height:100%;color:white; background:rgba(209,231,81,1)!important">
        <div class="row"><center>Ambassador</center></div>
    </div>
</div>