<div ng-controller="nolAppController" style="height:80vw">
  <div  class="bob" style="color:rgba(0,0,0,0.8) !important;"ng-include="'templates/partials/header.html'">
  </div>

     <div class="containter-fluid" style="height:auto; color:black; background:white !important;">
        <div class="row first-row">
          <div class="main-title-text">
              We make
          <br/>going out easy.
          </div>
          <div class="sub-title-text">
            Discover Nightlife. In <span style="color:#ED4A43;">Real-Time.</span><br />
            <span style="font-size:18px">[Hauz Khas Version]</span>
          </div>
        </div>
      </div>
      <div style="position:absolute; display:block; right:10%;top:150px;width:270px;z-index:10000000000;padding:10px 10px 10px 10px">
      <img style="margin-left:calc(50% - 125px); z-index:1000000000;" width="250px" src="assets/images/Android-App-Store.png"/>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-set" id="img1">
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-set" id="img2">
         </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-set" id="img3">
          </div>
        </div>
      </div>

</div>
