<div ng-controller="nolWebController" style="height:80vw">
    <div class="container-fluid header" style="background:white !important">
        <div class="row">
             <div class="col-lg-3"><div class="header-title" style="color:black !important">#NOL</div></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="header-menu"> 
                 
                        <ul>
                            <li><a style="color:black !important"  ng-href="#/venues">Live Data</a></li>
                                <li><a style="color:black !important" ng-href="#/app">App</a></li>
                                 <li><a style="color:black !important" ng-href="#/about-us">About Us</a></li>
                                <li><a style="color:black !important" ng-href="#/ambassador">Ambassador</a></li>
                                <li><a style="color:black !important" ng-href="#/contact-us"> Contact</a> </li>
                         
                        </ul>
                   
                   </div> 
                </div>
            </div>
    </div>
    
     <div class="containter-fluid" style="height:100%;color:black;">
        <div class="row"><center><span style="color:black !important; font-family:'Montserrat', sans-serif !important; font-size:36px !important;">App</span></center></div>
        <div class="row"><span style="font-family:'Montserrat',sans-serif; text-align:center; font-size:20px; margin-top:60px;margin-bottom:20px; display:block;ß">Coming Soon ...</span><img style="margin-left:calc(50% - 125px)" src="assets/images/app-store.png"/></div>
    </div>

    </div>