<div ng-controller="nolContactController" style="height:80vw">
        <div class="container-fluid header" style="background:rgba(77,188,233,1)!important">
            <div class="row">
             <div class="col-lg-3"><div class="header-title">#NOL</div></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="header-menu"> 
                 
                        <ul>
                            <li><a ng-href="#/venues">Live Data</a></li>
                             <li><a ng-href="#/app">App</a></li>
                             <li><a ng-href="#/about-us">About Us</a></li>
                                <li><a ng-href="#/ambassador">Ambassador</a></li>
                               
                                <li><a ng-href="#/contact-us"> Contact</a></li>
                         
                        </ul>
                   
                   </div> 
                </div>
            </div>
    </div>
    <div class="containter-fluid" style="height:100%;color:white; background:rgba(77,188,233,1)!important">
        <div class="row"><center><span style="color:white !important; font-family:'Montserrat', sans-serif !important; font-size:36px !important;">Contact Us</span></center></div>
        <div class="row" style="margin-top:20px">
            <div class="col-lg-2"></div>
            <div class="col-lg-4" style="border-right:1px solid white; height:400px; font-family:'Montserrat', sans-serif;">
                <center> <h3>For Party Hoppers</h3> </center><br>
                <span style="display:block;text-align:center;margin-bottom:10px;">So you seems to enjoy #NOL . We would love to hear from you.</span><br>
                <form class="form-horizontal" style="margin-left:15%;">
                    <div class="form-group">
                     
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="msgRecieved.name">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="msgRecieved.email">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-sm-10">
                        <input type="textarea" style="height:120px;" class="form-control" id="message" placeholder="Message" ng-model="msgRecieved.msg">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="margin-left:30%">
                        <button type="submit" class="btn btn-default" ng-click="requestedContact()">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4" style="border-left:1px solid white; height:400px; font-family:'Montserrat', sans-serif;">
                <center> <h3>For Pubs</h3> </center><br>
                <span style="display:block;text-align:center;margin-bottom:10px;">For any media related enquiries please write to us at :
                    <br>
								info@nol.live</span><br>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>