<div id="home-splash-screen" class="container-fluid container-margin home" >
<style>
body{
  overflow-x:hidden;
  width:100vw;
  height:100vh;
  /*background-color: rgba(0,0,0,.91);*/
}
.home{
width:100vw;

}

.gradient{
  position: absolute;
  width: 100vw;
  height:100vh;
  top:0vh;
  background: linear-gradient(to top, rgba(0,0,0,.91) 10%, transparent);
  z-index:100000;
}
.new-home{
  width:100vw;
  height:100vh;
  overflow:hidden;
  padding-left:0px !important;
  padding-right:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
  background-color: rgba(0,0,0,.91);
}
.circle-1 {
  position:absolute;
  width: 544px;
  margin-left:calc(50vw - 272px);
  margin-right:auto;
}

.circle-1> img{
  width:inherit;
}

.circle-2 {
  position:absolute;
  width: 950px;
  margin-left:calc(50vw - 475px);
  margin-right:auto;
}

.circle-2> img{
  width:inherit;
}

.circle-3 {
  position:absolute;
  width:1432px;
  margin-left:calc(50vw - 716px);
  margin-right:auto;

}

.circle-3> img{
  width:inherit;
}

.logo-banner {
  width:43vh;
  height:35vh;
  margin-top:15.5vh;
  margin-left:calc(50vw - 21.5vh);
  /*background:white;*/
    /*border:solid white 1px;*/
    opacity:1;
    z-index: 1000000000;
}
.title-banner{
  position:absolute;
  top:calc(35vh + 19.5vh + 10vh);
  /*margin-top:8.76vw;*/
  margin-left:calc(50vw - 21.10vh);
  width:42.21vh;
  height:19.06vh;
  /*background:white;*/
  z-index: 1000000000;
}

.bottom-banner {
  position:absolute;
  width:54.22vh;
  height:3.77vh;
  margin-left:calc(50vw - 27.11vh);
  top:90vh;
  z-index: 1000000000;
}
.title-banner img {
  width:42.21vh;
}
.logo-banner  img{
  width:43vh;
}

.bar-upper img {
  -webkit-transform: translateZ(0);
  margin-bottom:4.7vh;
  z-index:100000000000000000;
  animation-name: mover;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 300ms
  animation-fill-mode: forwards;
}

@keyframes mover {
  0%    {transform:translate(0,-15.5vh)}
  25%   {transform: translate(0,0vh)}
  50%   {transform: translate(0,17.82vh)}
  59.6% {transform: translate(0,14.37vh)}
  72.86% {transform: translate(0,9.67vh)}
  84.56%  {transform: translate(0,5.55vh)}
  98.03%  {transform: translate(0,0.85vh)}
  100%    {transform: translate(0,0.0vh)}
}

.bar-lower img {
  animation-name: mover2;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}
@keyframes mover2 {
  0%    {transform:translate(0,15.5vh)}
  25%   {transform: translate(0,0vh)}
  50%   {transform: translate(0,-17.82vh)}
  59.6% {transform: translate(0,-14.37vh)}
  72.86% {transform: translate(0,-9.67vh)}
  84.56%  {transform: translate(0,-5.55vh)}
  98.03%  {transform: translate(0,-0.85vh)}
  100%    {transform: translate(0,0.0vh)}
}

.night img{
  margin-bottom: 4.7vh;
  z-index:100000000000000000;
  animation-name: display;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}
@keyframes display {
  0%  {opacity:0}
  25% {opacity:0}
  50% {opacity:0}
  72.86% {opacity:0}
  84.56% {opacity:1}
  100% {opacity:1}
}
.out img {
  margin-bottom: 4.7vh;
  z-index:100000000000000000;
  animation-name: display2;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}

@keyframes display2 {
  0%  {opacity:0}
  25% {opacity:0}
  50% {opacity:0}
  59.6% {opacity:1}
}
.loud img{
  margin-bottom: 4.7vh;
  z-index:100000000000000000;
  animation-name: display;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}
.bottom-banner img{
  width:54.22vh;
  z-index:100000000000000000;
}

@media only screen and (max-width:544px) {
  .title-banner{
    position:absolute;
    top:calc(35vh + 19.5vh + 10vh);
    /*margin-top:8.76vw;*/
    margin-left:20vw;
    width:60vw;
    height:19.06vh;
    /*background:white;*/
    z-index: 1000000000;
  }

  .bottom-banner {
    position:absolute;
    width:60vw;
    height:3.77vh;
    margin-left:20vw;
    top:90vh;
    z-index: 1000000000;
  }
  .title-banner img {
    width:60vw;
  }
  .bottom-banner img{
    width:60vw;
    z-index:100000000000000000;
  }

}
</style>
<div class="gradient">

</div>
<div class="container-fluid new-home">
  <div class="circle-1">
    <img src="assets/home-page-image-assets/circle1.png"/>
  </div>
  <div class="circle-2">
    <img src="assets/home-page-image-assets/circle2.png"/>
  </div>
  <div class="circle-3">
    <img src="assets/home-page-image-assets/circle3.png"/>
  </div>
  <div class="logo-banner">
    <div class="bar-upper">
      <img src="assets/home-page-image-assets/bar-upper.png"/>
    </div>
    <div class="night">
      <img src="assets/home-page-image-assets/NIGHT.png"/>
    </div>
    <div class="out">
      <img src="assets/home-page-image-assets/Out.png"/>
    </div>
    <div class="loud">
      <img src="assets/home-page-image-assets/loud.png"/>
    </div>
    <div class="bar-lower">
      <img src="assets/home-page-image-assets/bar-lower.png"/>
    </div>

    </div>
  </div>

  <div class="title-banner">
    <div class="hauz-khas">
      <img src="assets/home-page-image-assets/hauz-khas.png"/>
    </div>
  </div>
  <div class="bottom-banner">
    <div class="dive">
      <img src="assets/home-page-image-assets/div.png"/ >
    </div>
  </div>
  </div>
  </div>
</div>


</div>
