<div class="container-fluid home" ng-controller="nolHomeController" >
    <div class="row main-title" ng-hide="showLoader">
       <div class="col-lg-offset-3 col-lg-6">
            <h1>Night Out Loud<br> in <br> Hauz Khas Village</h1>
            <h4>Ultimate Nightlife Guide</h4>
        </div>
    </div>
    <div class="row sub-title" ng-hide="showLoader">
        <div class="col-lg-offset-2 col-lg-8">
            <span id="text-section-first"> Discover Nightlife in an easy way</span><br>
            <span id="text-section-second">We connect you with most happening places</span>
        </div>
    </div>
    <div class="row" ng-hide="showLoader"> 
        <div class="col-lg-offset-5 col-lg-2">
            <span class="caret-btn animated pulse" ng-click="takeToVenuesPage()"></span>
        </div>
    </div>
    <div class="row" style ="margin-top:45vh; " ng-show="showLoader">
        <div class="dot-outer home-loader-outer">
            <div class="dot-inner home-loader-inner">
            </div>
        </div>
    </div>
</div>
