<style>
body{
  overflow-x:hidden;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,.91);
}
.new-home{
  width:100vw;
  height:100vh;
  overflow:hidden;
  padding-left:0px !important;
  padding-right:0px !important;
  background: linear-gradient(to top, black, transparent);
}
.circle-1 {
  position:absolute;
  width: 36.66vw;
  margin-left:calc(50vw - 18.33vw);
  margin-right:auto;
}

.circle-1> img{
  width:inherit;
}

.circle-2 {
  position:absolute;
  width: 70.46vw;
  margin-left:calc(50vw - 35.23vw);
  margin-right:auto;
}

.circle-2> img{
  width:inherit;
}

.circle-3 {
  position:absolute;
  width:106.6vw;
  margin-left:calc(50vw - 53.2vw);
  margin-right:auto;
}

.circle-3> img{
  width:inherit;
}

.logo-banner {
  width:26.8vw;
  height:21.8vw;
  margin-top:12.22vw;
  margin-left:36.6vw;
  /*background:white;*/
    /*border:solid white 1px;*/
}
.title-banner{
  position:fixed;
  bottom:12.15vw;
  margin-top:10.27vw;
  margin-left:34vw;
  width:32vw;
  height:14.58vw;
  /*background:white;*/
}
.title-banner img {
  width:32vw;
}
.logo-banner  img{
  width:26.8vw;
}

.bar-upper img {
  margin-bottom:2.5vw;
}

.night img{
  margin-bottom: 2.5vw;
}
.out img {
  margin-bottom: 2.5vw;
}
.loud img{
  margin-bottom: 2.5vw;
}
</style>

<div class="container-fluid new-home">
  <div class="circle-1">
    <img src="assets/home-page-image-assets/circle1.png"/>
  </div>
  <div class="circle-2">
    <img src="assets/home-page-image-assets/circle2.png"/>
  </div>
  <div class="circle-3">
    <img src="assets/home-page-image-assets/circle3.png"/>
  </div>
  <div class="logo-banner">
    <div class="bar-upper">
      <img src="assets/home-page-image-assets/bar-upper.png"/>
    </div>
    <div class="night">
      <img src="assets/home-page-image-assets/NIGHT.png"/>
    </div>
    <div class="out">
      <img src="assets/home-page-image-assets/out.png"/>
    </div>
    <div class="loud">
      <img src="assets/home-page-image-assets/loud.png"/>
    </div>
    <div class="bar-lower">
      <img src="assets/home-page-image-assets/bar-lower.png"/>
    </div>

    </div>
  </div>

  <div class="title-banner">
    <div class="hauz-khas">
      <img src="assets/home-page-image-assets/hauz-khas.png"/>
    </div>
  </div>
  </div>
  </div>
</div>
