<div ng-include="'templates/home.html'" class="splash-screen" ng-class="{'roll-up-splash-screen':rollUpSplashScreen}" ng-hide="switchToVenuesPage"></div>

<div class="venue-container" ng-controller="nolWebController" ng-init="variableInitializerOnPageLoad()">

    <div class="popup-background" ng-include="'templates/partials/popup.html'" ng-show="popupBtnClicked" ng-click="closePopUp()"></div>

    <div class="container-fluid header" ng-show="rollUpSplashScreen">
        <div class="row" ng-class="{'fixed-on-top':switchToVenuesPage}">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="header-title">#NOL</div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-offset-2 col-lg-7">
                <div class="header-menu">
                  <div class="menu-tab">
                    <a ng-href="" ng-click="showMenuItems()"><span class="menu-tab-btn glyphicon glyphicon-th-large"></span></a>
                  </div>

                  <div class="menu-tab-list-hidden" ng-class="{'menu-tab-list':showMenuTabList}">
                    <ul style="color:white">
                        <li> <a ng-href="#/venues">      Live Data   </a></li>
                        <li><a ng-href="#/app">         App         </a></li>
                        <li><a ng-href="#/about-us">    About Us    </a></li>
                        <li><a ng-href="#/ambassador">  Ambassador  </a></li>
                        <li><a ng-href="#/contact-us">  Contact     </a> </li>
                    </ul>
                  </div>

                </div>
            </div>
        </div>
      </div>

    <div id="loader-container" class="container-fluid" ng-show="showLoader">
        <div class="row">
            <div class="dot-outer" style="margin-left:calc(50% - 25px);display:inline-block;width:50px; height:50px; border:5px solid white; border-radius:25px;">
                <div class="dot-inner" style="display:inline-block;width:20px; height:20px; border:10px solid white; border-radius:10px; margin:10px 0px 0px 10px"></div>
            </div>
        </div>
    </div>

    <div id="live-data-container" class="container-fluid container-margin" ng-show="false">
        <div class="row info-bar-outer" id="live-data">
            <div class="info-bar info-bar-fixed" ng-hide="hideLivePreview">
                <center>Live Preview</center>
            </div>
        </div>
        <div class="row" ng-repeat="coloumnArray in liveDataStorage">
          <div class="card" ng-repeat="element in coloumnArray track by $index" ng-click="showPopup(element)" ng-hide="">
            <div class="bg-img">
                    <img src="assets/images/{{element.imgUrl}}.jpg" ng-click="showPopup(element)" />
                    <div class="grad"></div>
            </div>
                <div class="card-title">{{element.venue}}</div>
                <div class="mini-card-box">
                    <div class="mini-cards mini-card-people">
                        <span class="mini-cards-tag">PEOPLE</span><br>
                        <span class="mini-cards-value">{{element.people}}</span>
                    </div>
                    <div class="mini-cards mini-card-males">
                        <span class="mini-cards-tag"> MALES</span><br>
                        <span class="mini-cards-value">{{element.male}}</span>
                    </div>
                    <div class="mini-cards mini-card-female">
                        <span class="mini-cards-tag"> FEMALES</span><br>
                        <span class="mini-cards-value">{{element.female}}</span>
                    </div>
                    <div class="mini-cards mini-card-fullness">
                        <span class="mini-cards-tag">FULLNESS</span><br>
                        <span class="mini-cards-value">{{element.fullness}}</span>
                    </div>
                </div>
                <div class="three-text-box">
                    <div class="text-box">
                        <span class="text-box-tag vibe">VIBE</span><br><span class="text-box-value">{{element.vibe}}</span>
                    </div>
                    <div class="text-box">
                        <span class="text-box-tag music-genre">MUSIC GENRE</span><br><span class="text-box-value">{{element.genre}}</span>
                    </div>
                    <div class="text-box">
                        <span class="text-box-tag music-type">MUSIC TYPE</span><br><span class="text-box-value">{{element.type}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="live-data-container" class="container-fluid container-margin" ng-show="showHistoricalDataSection">
        <div class="row info-bar-outer" id="hist-data">
            <div class="info-bar info-bar-fixed" ng-show="switchToVenuesPage">
                <center>Projections For Today</center>
            </div>
        </div>
        <div class="row1">
            <div class="card" ng-repeat="element in historicalDataStorage " ng-click="showPopup(element)">
                <div class="bg-img">
                    <img src="assets/images/{{element.imgUrl}}.jpg" ng-click="showPopup(element)"/>
                    <div class="grad"></div>
                </div>
                <div class="card-title">{{element.venue}}</div>
                <div class="mini-card-box">
                    <div class="mini-cards mini-card-people">
                        <span class="mini-cards-tag">PEOPLE</span><br>
                        <span class="mini-cards-value">{{element.people}}</span>
                    </div>
                    <div class="mini-cards mini-card-males">
                        <span class="mini-cards-tag"> MALES</span><br>
                        <span class="mini-cards-value">{{element.male}}</span>
                    </div>
                    <div class="mini-cards mini-card-female">
                        <span class="mini-cards-tag"> FEMALES</span><br>
                        <span class="mini-cards-value">{{element.female}}</span>
                    </div>
                    <div class="mini-cards mini-card-fullness">
                        <span class="mini-cards-tag">FULLNESS</span><br>
                        <span class="mini-cards-value">{{element.fullness}}</span>
                    </div>
                </div>
                <div class="three-text-box">
                    <div class="text-box">
                        <span class="text-box-tag vibe">VIBE</span>
                        <span class="text-box-value vibe">{{element.vibe}}</span>
                    </div>
                    <div class="text-box">
                        <span class="text-box-tag music-genre">MUSIC GENRE</span><span class="text-box-value music-genre">{{element.genre}}</span>
                    </div>
                    <div class="text-box">
                        <span class="text-box-tag music-type">MUSIC TYPE</span><span class="text-box-value music-type">{{element.type}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
